<ion-view view-title="Events">
  <ion-content class="padding">	
	<div class="list events">
 		 <label class="item item-radio" ng-repeat="event in events">
          <input type="radio" name="group" value="go" ng-click="updateDesc($index);">
          <div class="item-content">
            {{event.eventName}}<br />
            <i class="date">{{event.date}}</i>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
	</div>
	<div class="card">
	  <div class="item item-text-wrap" ng-bind-html="description"></div>
	</div>
  </ion-content>
</ion-view>