<ion-view view-title="Feedback">
  <ion-content class="padding">	
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Name</span>
			<input type="text" name="name">
		</label>
		<label class="item item-input">
			<span class="input-label">Contact No.</span>
			<input type="text" name="contactno">
		</label>
		<label class="item item-input">
			<span class="input-label">Flat No.</span>
			<input type="text" name="flatno">
		</label>
		<label class="item item-input">
			<span class="input-label">Subject</span>
			<input type="text" name="subject">
		</label>
		<label class="item item-input">
			<span class="input-label">Description</span>
			<textarea></textarea>
		</label>
		<button class="button button-block button-positive">
		  Submit
		</button>		
	</div>
  </ion-content>
</ion-view>