<ion-view view-title="Dashboard">
  <ion-content class="padding">
	<div class="list">
	    <a class="item item-icon-left item-icon-right" href="#/feedback">
          <i class="icon ion-compose"></i>
          Feedback
          <i class="icon ion-arrow-right-c"></i>
        </a>
	    <a class="item item-icon-left item-icon-right" href="#/events">
          <i class="icon ion-calendar"></i>
          Events For Today
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/maintenance">
          <i class="icon ion-card"></i>
          Pay Maintenance
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/lostfound">
          <i class="icon ion-help-circled"></i>
          Lost & Found
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/rentsell">
          <i class="icon ion-home"></i>
          Rent & Sell
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/amenities">
          <i class="icon ion-mic-c"></i>
          Amenities Booking
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/rules">
          <i class="icon ion-compose"></i>
          Rules
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/faq">
          <i class="icon ion-help"></i>
          FQA
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/contacts">
          <i class="icon ion-iphone"></i>
          Important Contact Numbers
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/alerts">
          <i class="icon ion-alert"></i>
          Emergency Alerts
          <i class="icon ion-arrow-right-c"></i>
        </a>	
	</div>
  </ion-content>
</ion-view>
