<ion-view view-title="Found Item Details">
  <ion-content class="padding">	
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Item</span>
			<span>Water Bottle</span>
		</label>
		<label class="item item-input">
			<span class="input-label">Description</span>
			<span class="item-text-wrap">green color bottle with micky mouse printed</span>
		</label>		
		<label class="item item-input">
			<span class="input-label">Date</span>
			<span class="item-text-wrap">10/11/2015</span>
		</label>
		<label class="item item-input">
			<span class="input-label">Contact</span>
			<span>Mayank Khandelwal</span>
		</label>
		<label class="item item-input">
			<span class="input-label">Phone</span>
			<span>+91-111-111-1111</span>
		</label>
		<label class="item item-input">
			<span class="input-label">Flat No.</span>
			<span>F-101</span>
		</label>
		<label class="item item-input">
			<img src="cdnimages/waterbottle.jpg" alt=""> <img src="cdnimages/waterbottle.jpg" alt="">
		</label>

		<button class="button button-block button-positive" >
		  Thank you, YES!!! this is mine.
		</button>
	</div>
  </ion-content>
</ion-view>